.navbar-nav .nav-item .nav-link:focus {
    text-decoration: underline;
}

.navbar-nav .nav-item:active {
    text-decoration: underline;
}

.main-text {
    margin:15% 0% 15% 5%;
}

.coming-soon-text {
    margin:15% 0% 19% 5%;
}

h1 {
    font-size: 6vw;
    margin-bottom: 10%;
    font-weight: 700;
}

h2 {
    font-size: 3vw;

}

h3 {
    font-size: 2vw;
    font-weight: 700;
}

.sm-icons {
    display: inline-table;
}

.navbar-main {
    display: inline-table;
}

.navbar-main .nav-item {
    display: table-cell;
    text-align: center;
}

.sm-icons .nav-item {
    display: table-cell;
    text-align: center;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    margin-top: 2em;
}

.fill {
    padding-top: 50%;
}

.quote-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-size: larger;
    font-weight: 600;
}

.main-content {
    background-image: url(images/mainshot\ 1.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.main2-content {
    background-image: url(images/mainshot2.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.coming-soon {
    background-image: url(images/mainshot3.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.full-render {
    background-image: url(images/full-render.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.empty-space {
    display: block;
}

.register-form-large {
    display: block;
}

.register-form-small {
    display: none;
}

.btn-primary {
    background-color: darkgreen;
    border-color: darkgreen;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.kokage-quote {
    font-size: 40px;
    margin-top: 1em;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-9by16 {
    padding-bottom: 177.78%;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.about-paragraph {
    background-image: url(images/text\ arrows.png);
    background-size: cover;
    padding: 50px;
    background-repeat: round;
}

@media (max-width: 1200px) { 
    .about-paragraph {
        background-image: none;
    }
}

@media (max-width: 1000px) {
    .about-titles {
        text-align: center;
    }
}

@media (max-width: 768px) { 
    .main-content {
        background-image: url(images/mobile\ 1.png); 
        background-position: center;
    }


    .kokage-quote {
        margin-left: 1em;
        margin-right: 1em;
        font-size: 18px;
    }

    .coming-soon {
        background-image: url(images/mobile\ 2\ v2.png); 
        background-position: center;
    }

    .premium-text {
        margin: 5% 0% 100% !important;
        padding: 0 !important;
    }

    .main2-content {
        background-image: url(images/mobile2.png); 
        background-repeat:no-repeat; 
        background-size:contain;
    }

    .main-text { 
        margin: 0% 0% 75%;
        padding: 0 10% 10%;
        text-align: center;
    }

    .coming-soon-text {  
        margin: 5% 0% 100% !important;
    }

    h1 {
        font-size: 9vw;
    }

    .mar-text {
        font-size: 16px;
    }

    h2 {
        padding-top: 2em;
    }

    .empty-space {
        display: none;
    }
}

