.navbar-nav .nav-item .nav-link:focus {
    text-decoration: underline;
}

.navbar-nav .nav-item:active {
    text-decoration: underline;
}

.main-text {
    margin:15% 0% 15% 5%;
}

.coming-soon-text {
    margin:15% 0% 19% 5%;
}

h1 {
    font-size: 6vw;
    margin-bottom: 10%;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

.sm-icons {
    display: inline-table;
}

.navbar-main {
    display: inline-table;
}

.navbar-main .nav-item {
    display: table-cell;
    text-align: center;
}

.sm-icons .nav-item {
    display: table-cell;
    text-align: center;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    margin-top: 2em;
}

.fill {
    padding-top: 50%;
}

.quote-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: larger;
    font-weight: 600;
}

.main-content {
    background-image: url(images/case-no-text.jpg); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.main2-content {
    background-image: url(images/mainshot2.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.coming-soon {
    background-image: url(images/mainshot3.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.full-render {
    background-image: url(images/full-render.png); 
    background-repeat:no-repeat; 
    background-size:cover;
}

.empty-space {
    display: block;
}

.register-form-large {
    display: block;
}

.register-form-small {
    display: none;
}

@media (max-width: 768px) { 
    .main-content {
        background-image: url(images/mobile-case.png); 
        background-position: center;
    }

    .kokage-quote {
        margin-left: 1em;
        margin-right: 1em;
    }

    .coming-soon {
        background-image: url(images/mobile.png); 
        background-position: center;
    }

    .premium-text {
        margin-top: 1em !important;;
    }

    .main2-content {
        background-image: url(images/mobile2.png); 
        background-repeat:no-repeat; 
        background-size:cover;
    }

    .main-text { 
        margin: 0% 0% 75%;
        padding: 0 10% 10%;
        text-align: center;
    }

    .coming-soon-text {
        margin: 5% 0% 140% !important;
    }

    h1 {
        font-size: 9vw;
    }

    h2 {
        padding-top: 2em;
    }

    .empty-space {
        display: none;
    }
}

